.pagination a{
  cursor: pointer;
}
.pagination{
  display: flex;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.pagination a{
  padding: 5px;
  background: #b5c9ec;
}
.post{
  background: #b5c9ec;
  list-style: none;
}

